<div class="container">

  <div class="row">
    <div class="col-6 col-md-2">
      <%= link_to "Salary full list here", all_salaries_path, class: '' %>
    </div>
  </div>

  <h5 class="pt-3">
    Salaries group by designation
  </h5>

  <div class="accordion accordion-flush" id="salaryGroupByDesignation">
    <% @grouped_salaries.each do |designation, salaries| %>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFor<%= designation %>">
          <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFor<%= designation %>" aria-expanded="false" aria-controls="flush-collapseFor<%= designation %>">
            <b><%= Salary.designations[designation] || 'No designation mentioned' %></b> &nbsp;=> <%= salaries.size %> record/s
          </button>
        </h2>

        <div id="flush-collapseFor<%= designation %>" class="accordion-collapse collapse" aria-labelledby="flush-headingFor<%= designation %>" data-bs-parent="#salaryGroupByDesignation">
          <% salaries.sort_by(&:salary_amount_lkr).reverse.each do |salary| %>
            <div class="accordion-body border-bottom"><%= salary.salary_details.html_safe %></div>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>






