<div class="container">

  <div class="row">
    <div class="col-6 col-md-2">
      <%= link_to "Salary full list here", all_salaries_path, class: '' %>
    </div>
  </div>

  <h5 class="pt-3">
    Salaries group by the designation
  </h5>

  <% @grouped_salaries.each do |designation, salaries| %>

    <div class="d-block">
      <a class="btn btn-secondary mb-2" data-bs-toggle="collapse" href='#collapseFor<%= designation %>' role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
        <%= Salary.designations[designation] || 'No designation mentioned' %> <%= salaries.size %> record/s
      </a>
    </div>

    <div class="collapse multi-collapse pb-2 container" id='collapseFor<%= designation %>'>
      <% salaries.sort_by(&:salary_amount_lkr).reverse.each do |salary| %>
        <div class="row">
          <div class="col-12 col-md-8 grid-content-col"><%= salary.salary_details.html_safe %></div>
        </div>
      <% end %>
    </div>

  <% end %>

</div>
