<div class="container">
  <p>
    We value your present/past salary submissions here. So everyone can get an idea how much is the salary scale for different technologies in Sri Lanka. <%= link_to "Add your salary", new_salary_path %>
  </p>

  <hr class="mb-3">

  <%= search_form_for @q, url: techsalary_root_path, class: 'row pb-3' do |f| %>
    <div class="col-4 col-md-2">
      <%= f.select :currency_eq, Salary.currencies.to_a, { include_blank: 'Currency'}, class: "form-control" %>
    </div>
    <div class="col-4 col-md-5">
      <%= f.submit 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="mb-1 text-end">
    <%= page_entries_info @salaries, entry_name: 'salary' %>
  </div>

  <div class="d-flex mb-1 justify-content-end">
    <%= paginate @salaries %>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 col-md-8 grid-header-col">Salary details</div>
    <div class="col-2 col-md-4 grid-header-col">Accuracy</div>
  </div>

  <% @salaries.each do |salary| %>
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 grid-content-col"><%= salary.salary_details.html_safe %></div>
      <div class="col-2 col-md-4 grid-content-col">
        <%= salary.year %>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-end mt-1">
    <%= paginate @salaries %>
  </div>
</div>
