<div class="container">
  <p>
    Need to add or change any data here? <%= link_to "Submit", new_change_request_path %>
  </p>

  <hr class="mb-3">

  <%= search_form_for @q, url: root_path, class: 'row pb-3' do |f| %>
    <div class="col-4 col-md-5">
      <%= f.text_field :name_cont, placeholder: 'Search by company name', class: "form-control" %>
    </div>
    <div class="col-4 col-md-2">
      <%= f.select :pegged_currency_eq, Organization.pegged_currencies.to_a, { include_blank: 'Currency'}, class: "form-control" %>
    </div>
    <div class="col-4 col-md-5">
      <%= f.submit 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="mb-1 text-end">
    <%= page_entries_info @organizations, entry_name: 'item' %>
  </div>

  <div class="d-flex mb-1 justify-content-end">
    <%= paginate @organizations %>
  </div>

  <div class="row justify-content-center">
    <div class="col-4 col-md-5 grid-header-col">Company name</div>
    <div class="col-3 col-md-2  grid-header-col">Pegged to currency</div>
    <div class="col-5 col-md-5 grid-header-col">Remarks(Eg: company pegging rate if not dynamic exchange rate)</div>
  </div>

  <% @organizations.each do |organization| %>
    <div class="row justify-content-center">
      <div class="col-4 col-md-5 grid-content-col"><%= organization.name %></div>
      <div class="col-3 col-md-2 grid-content-col"><%= organization.pegged_currency %></div>
      <div class="col-5 col-md-5 grid-content-col"><%= organization.remarks %></div>
    </div>
  <% end %>

  <div class="d-flex justify-content-end mt-1">
    <%= paginate @organizations %>
  </div>

  <p class="mt-4">
    Thanks <%= link_to "Indrajith Ekanayake", "https://www.linkedin.com/in/indrajithek/", :target => "_blank" %> for
    preparing the initial <%= link_to "list", "https://www.linkedin.com/posts/indrajithek_i-did-a-survey-to-find-out-the-companies-activity-6911263524908388352-Ge8a", :target => "_blank" %>
  </p>
</div>
