<!DOCTYPE html>
<html>
  <head>
    <title>TechSalary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>

  <body>
    <%= render "layouts/flash" %>

    <%= yield %>
  </body>
</html>
