<!DOCTYPE html>
<html>
  <head>
    <title>Peggedplacetowork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |type, msg| %>
        <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
          <%= msg %>
        </div>
      <% end %> 
    </div>

    <%= render "layouts/nav_bar" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
